@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

:root {
  --black: #071013;
  --darkgrey: #354146;
  --verylightblue: #f4fdff;
  --skyblue: #2DE1FC;
  --lightblue: #56b8f5;
  --blue: #0072BB;
  --darkblue: #062c44;
  --lime: #CCFF66;
}

html, body {
  height: calc(100% + 200px);
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(250, 250, 250);
  color: var(--darkgrey);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr {
  border-style:outset
}
p {
  text-indent: 20px;
  font-size: 18px;
}
.column {
  flex-direction: column;
}
.logo {
  padding: 10px;
}
img.smallest {
  max-width: 80px;
}
img.small {
  max-width: 180px;
}
img.medium {
  max-width: 320px;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.reverse {
  flex-direction: row-reverse;
}
.wrap-reverse {
  flex-wrap: wrap-reverse
}

.clearboth {
  clear: both;
}

.background {
  background-color: rgb(182, 182, 182);
  z-index: 1;
}

#main-section {
  height: 440px;
  background: url("/assets/banners/backgroundBannerPrincipal.jpg");
  background-size: cover;
  background-position:center;
  /* box-shadow: inset 0px 6px 8px rgba(0, 0, 0, 0.658) */
}
#main-section img {
  position: relative;
}
header {
  transition: 0.3s;
}
header.sticky {
  background: var(--black);
  text-shadow: none;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 10;
}
header.sticky > div:last-child {
  margin: inherit;
}
.header .nav-menu {
  display: flex;
  align-items: center;
}
.header ul li a {
  color: rgb(248, 248, 248);
}
li.mail, li.whats {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}
li.mail:hover, li.whats:hover {
  color: var(--blue);
}

.header {
  color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  font-weight: 400;
  transition: 0.3s;
  text-shadow: 1px 1px 3px black;
}

.header-info {
  display: flex;
  justify-content: space-between;
  flex-grow: auto;
}
.header-info > div:last-child {
  margin-left: 20px;
}

@media screen and (max-width: 1159px) {
  .header-info {
    flex-direction: column;
  }
  .header-info > div.last-child {
    margin-left: 0;
  }
  .header-info > div {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 835px) {
  .header {
    flex-direction: column;
  }
  img.small {
    max-width: 140px;
  }
}

.header li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 30px;
  margin-left: 4px;
  transition: 0.3s;
  font-weight: 600;
}
.header li a {
  text-decoration: none;
  transition: 0.3s;
}
.header li a:visited {
  color: inherit;
}
.header li.selected {
  color: var(--blue);
}
.header li a:hover {
  color: var(--blue)
}
.contact-header {
  flex-wrap: wrap;
  justify-content: center;
}
.contact-header li {
  flex-wrap: nowrap;
}
.entry {
  display: inline-block;
  position: relative;
  top: 80px;
  margin-left: 10px;
  left: 6%;
  color: rgb(245, 245, 245);
  font-weight: 300;
  margin-bottom: 5px;
}

.entry h3 {
  position: relative;
  top: 10px;
  font-size: 1rem;
  font-weight: 300;

}
.buttons {
  text-align: left;
  margin-top: 10px;
}
.buttons li:first-child {
  background-color: white;
  color: var(--darkgrey);
  font-weight: bold;
  border: none;
}
.entry h1 {
  font-size: 2rem;
  background-color: rgb(22, 22, 22);
  padding: 4px;
  border-radius: 4px;
  border: .5px solid white;
  font-weight: 300;
  margin: 15px 0 10px 0;
  text-shadow: 1px 1px 4px black;
}
.entry ul {
  display: inline-block;
  list-style: none;
  text-align: center;
}
.entry ul li {
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid white;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 5px;
}

@media (max-width: 553px) {
  .flex-row {
    justify-content: center;
  }
  .logo {
    margin: 10px 0 0 0;
  }
  .entry {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    margin: 0;
  }
  header.sticky {
    padding: 2px 120px;
  }
}

/* Main */

main#content {
  width: 100%;
}
main#content p {
  font-size: 1.3rem;
  color: rgb(112, 112, 112);
}
main#content h3 {
  font-size: 1.7rem;
  color: rgb(59, 59, 59);
  color: var(--darkgrey);
}

.box {
  background-color: #ffffff91;
  color: rgb(27, 27, 27);
  padding: 10px 10px;
  box-shadow: 0px 0px 4px black;
  border-radius: 10px;
  font-size: 1.2rem;
  max-width: calc(100% - 20px);
}
@media screen and (max-width: 393px) {
  .box h1 {
    font-size: 1.5rem;
  }
  .entry h1 {
    font-size: 2.4rem;
  }
}
.overlap {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -40%);
}
.box h1 {
  font-weight: 600;
  margin: 0;
}
.box h1::after {
  content: '';
  width: 140px;
  height: 3px;
  background: currentColor;
  display: block;
  margin: 5px auto 0 auto;
}

.vitra-banner {
  width: 100%;
  position: relative;
  left: 15px;
}
.vitra-banner > img {
  width: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.65);
}

.info {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 200px;

}

.info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 50%;
}

.info div.left {
  padding-right: 10px;
  height: 100%;
}
.info > div.left > article {
  padding: 20px;
}
.info div.right {
  padding-left: 10px;
}
.info div.right article {
  margin: 20px 0;
}

.h2-1::after, .h2-2::after, .h2-3::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: rgb(67, 41, 218);
  display: block;
  border-radius: 8px;
  margin: 10px 0 10px 10px;
}

@media screen and (max-width: 840px) {
  .info {
    flex-direction: column;
  }
  .info div {
    display: block;
    width: 100%;
    height: auto;
  }
  .info div.left, .info div.right {
    padding: 0;
  }
  main#content p {
    font-size: 1.2rem;
  }
}

/* Products */

section#products {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  max-width: 1200px;
  /* border: 1px solid black; */
  /* hyphens: auto; */
}
@media screen and (max-width: 600px) {
  section#products {
    width: 95%;
  }
}
section#products h1 {
  text-align: center;
  margin: 80px 0;
  font-size: 2.8rem;
}
section#products h3 {
  display: inline-block;
}
section#products article {
  margin-bottom: 80px;
}
section#products article:first-of-type {
  margin-top: 80px;
}
.product:nth-child(odd) {
  flex-direction: row-reverse;
}
.product:nth-child(odd) h3 {
  text-align: right;
}
.product:nth-child(odd) > div:last-child {
  margin: 0;
}
.product:nth-child(odd) > div:last-child > div:last-child {
  flex-direction: row-reverse;
}
.product > div:last-child > div:last-child{
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container {
  flex-grow: 1;
}
.button-container > button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
strong {
  color: var(--darkgrey);
  padding: 1px 8px;
  border-radius: 9px;
  font-size: 2.4rem;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strong-color {
  color:rgb(67, 41, 218);
  font-size: 18px;
}
.product > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .6);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.button {
  background-color: var(--darkgrey);
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .6);
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, .5); */
  padding: 12px 26px;
  border-radius: 2px;
  font-size: 16pt;
  font-weight: 600;
  color: white;
  /* letter-spacing: 1px; */
  cursor: pointer;
  transition: .2s;
  margin-top: 5px;
}
.button:hover {
  margin-bottom: -2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

@media screen and (max-width: 1076px) {
  .product:last-child {
    flex-direction: column;
  }
  .product h3 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .product, .product:nth-child(odd) {
    flex-direction: column;
  }
  .product > div:last-child {
    width: 100%;
    margin-left: 0;
  }
  .product h3, .product:nth-child(odd) h3 {
    text-align: center;
  }
}

@media screen and (max-width: 655px) {
  .product > div:last-child > div:last-child {
    justify-content: center;
  }
  .button {
    margin-top: 10px;
  }
}

/* Formulário */

section#form, form {
  width: 80%;
  max-width: 900px;
  min-width: 678px;
  margin: auto;
  color: rgb(245, 245, 245);
  margin-bottom: 60px;
}

section#form h2 {
  text-align: center;
  color: var(--darkgrey);
  font-size: 3.2rem;
  margin-bottom: 120px;
  margin-top: 120px;
}
.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
input, textarea {
  flex-grow: 9;
  padding: 10px 12px;
  border: 1px solid rgb(120, 120, 120);
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px;
}
input:focus, textarea:focus {
  outline: none;
}
label {
  flex-grow: 1;
  text-align: left;
  padding: 4px 0;
}
.form {
  padding: 40px;
  border-radius: 8px;
  color: rgb(30, 30, 30);
  font-weight: bold;
  text-align: center;
}
.form p {
  margin: 6px 0;
}

section#form.form-produto h2 {
  margin-top: 0;
  margin-bottom: 0;
}
section#form.form-produto .form {
  padding: 10px 30px;
}

@media screen and (max-width: 710px) {
  section#form, form {
    width: calc(100% - 20px);
    min-width: 0;
  }
}

/* footer */

footer {
  background-color: rgb(10, 10, 10);
  color: rgb(190, 190, 190);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}
.footer > div, .footer > ul {
  margin-top: 30px;
}
.footer .nav-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 8px;
}
.footer .nav-menu ul a {
  text-decoration: none;
  color: white;
}
.logo-svg {
  width: 20px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact > li a {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header .contact > li.mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.contact > li.mail > div {
  display: flex;
  gap: 8px;
}

.footer-info > div{
  margin-top: 5px;
}
.flaticon {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color:rgb(129, 129, 129);
  padding-bottom: 30px;
}
.flaticon a:visited, .flaticon a {
  color: var(--lime);
  opacity: .6;
  text-decoration: none;
}
.rafisa {
  text-align: center;
  padding-bottom: 40px;
}

/* Slider principal */

.slider {
  margin: 0 10px 0 10px;
  width: 300px;
  max-width: 100%;
  text-align: center;
}
.slider.full {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  max-width: none;
}

.slider input[type=radio] {
  display: none;
}

.slider label {
  cursor: pointer;
  text-decoration: none;
}

.slides {
  border: 3px solid #ccc;
  border-radius: 2px;
  background: #fff;
  position: relative;
  z-index: 1;
}

.overflow {
  width: 100%;
  overflow: hidden;
}

#slide1-1:checked ~ .slides .inner,
#slide1-2:checked ~ .slides .inner,
#slide1-3:checked ~ .slides .inner,
#slide1-4:checked ~ .slides .inner,
#slide1-5:checked ~ .slides .inner
 {
  margin-left: 0;
}

#slide2-1:checked ~ .slides .inner,
#slide2-2:checked ~ .slides .inner,
#slide2-3:checked ~ .slides .inner,
#slide2-4:checked ~ .slides .inner,
#slide2-5:checked ~ .slides .inner
 {
  margin-left: -100%;
}

#slide3-1:checked ~ .slides .inner,
#slide3-2:checked ~ .slides .inner,
#slide3-3:checked ~ .slides .inner,
#slide3-4:checked ~ .slides .inner,
#slide3-5:checked ~ .slides .inner
 {
  margin-left: -200%;
}

#slide4-1:checked ~ .slides .inner,
#slide4-2:checked ~ .slides .inner,
#slide4-3:checked ~ .slides .inner,
#slide4-4:checked ~ .slides .inner,
#slide4-5:checked ~ .slides .inner {
  margin-left: -300%;
}

.slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  /* line-height: 0; */
  height: 221px;
}

.slides .inner.inner-5 {
  width: 500%;
}
.slides .inner.inner-5 .slide {
  width: 20%;
}

.slides .inner.inner-4 {
  width: 400%;
}
.slides .inner.inner-4 .slide {
  width: 25%;
}

.slides .inner.inner-3 {
  width: 300%;
}
.slides .inner.inner-3 .slide {
  width: calc(100% / 3);
}

.slides .inner.inner-2 {
  width: 200%;
}
.slides .inner.inner-2 .slide {
  width: 50%;
}


.inner.full {
  height: calc(3/4 * 60vw);
  max-height: 700px;
}

.slides .slide {
  width: 25%;
  border-radius: 3px;
  float: left;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
  color: #fff;
}


.convencional .slide_1 {
  background: url("/assets/images/Convencional/sacariaConvencional1.JPG") no-repeat;
  background-size: cover;
}
.convencional .slide_2 {
  background: url("/assets/images/Convencional/sacariaConvencional2.JPG") no-repeat;
  background-size: cover;
}
.convencional .slide_3 {
  background: url("/assets/images/Convencional/sacariaConvencional3.JPG") no-repeat;
  background-size: cover;
}
.convencional .slide_4 {
  background: url("/assets/images/Convencional/sacariaConvencional4.JPG") no-repeat;
  background-size: cover;
}
.convencional .slide_5 {
  background: url("/assets/images/Convencional/sacariaConvencional5.JPG") no-repeat;
  background-size: cover;
}
.convencional .slide_6 {
  background: url("/assets/images/Convencional/sacariaConvencional6.JPG") no-repeat;
  background-size: cover;
}

.laminada .slide_1 {
  background: url("/assets/images/Laminado/sacariaLaminada1.JPG") no-repeat;
  background-size: cover;
}
.laminada .slide_2 {
  background: url("/assets/images/Laminado/sacariaLaminada2.JPG") no-repeat;
  background-size: cover;
}
.laminada .slide_3 {
  background: url("/assets/images/Laminado/sacariaLaminada3.JPG") no-repeat;
  background-size: cover;
}
.laminada .slide_4 {
  background: url("/assets/images/Laminado/sacariaLaminada4.JPG") no-repeat;
  background-size: cover;
}
.laminada .slide_5 {
  background: url("/assets/images/Laminado/sacariaLaminada5.JPG") no-repeat;
  background-size: cover;
}
.laminada .slide_6 {
  background: url("/assets/images/Laminado/sacariaLaminada6.JPG") no-repeat;
  background-size: cover;
}

.impressa .slide_1 {
  background: url("/assets/images/Impresso/sacariaConvencionalImpressa1.JPG") no-repeat;
  background-size: cover;
}
.impressa .slide_2 {
  background: url("/assets/images/Impresso/sacariaConvencionalImpressa2.JPG") no-repeat;
  background-size: cover;
}
.impressa .slide_3 {
  background: url("/assets/images/Impresso/sacariaConvencionalImpressa3.JPG") no-repeat;
  background-size: cover;
}
.impressa .slide_4 {
  background: url("/assets/images/Impresso/sacariaConvencionalImpressa4.JPG") no-repeat;
  background-size: cover;
}
.impressa .slide_5 {
  background: url("/assets/images/Impresso/sacariaConvencionalImpressa5.JPG") no-repeat;
  background-size: cover;
}
.impressa .slide_6 {
  background: url("/assets/images/Impresso/sacariaConvencionalImpressa6.JPG") no-repeat;
  background-size: cover;
}

.controls {
  margin: -120px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

.controls.full {
  margin: -320px 0px 230px 0;
}
@media screen and (max-width: 840px) {
  .controls.full {
    margin: -200px 0px 150px 0;
  }
}
@media screen and (max-width: 640px) {
  .controls.full {
    margin: -150px 0px 120px 0;
  }
}
@media screen and (max-width: 450px) {
  .controls.full {
    margin: -120px 0px 60px 0;
  }
} 
.controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
.controls label:hover {
  opacity: 1;
}

#slide1-1:checked ~ .controls label:nth-child(2),
#slide2-1:checked ~ .controls label:nth-child(3),
#slide3-1:checked ~ .controls label:nth-child(4),
#slide4-1:checked ~ .controls label:nth-child(1),

#slide1-2:checked ~ .controls label:nth-child(2),
#slide2-2:checked ~ .controls label:nth-child(3),
#slide3-2:checked ~ .controls label:nth-child(4),
#slide4-2:checked ~ .controls label:nth-child(1),

#slide1-3:checked ~ .controls label:nth-child(2),
#slide2-3:checked ~ .controls label:nth-child(3),
#slide3-3:checked ~ .controls label:nth-child(4),
#slide4-3:checked ~ .controls label:nth-child(1),

#slide1-4:checked ~ .controls label:nth-child(2),
#slide2-4:checked ~ .controls label:nth-child(3),
#slide3-4:checked ~ .controls label:nth-child(4),
#slide4-4:checked ~ .controls label:nth-child(1),

#slide1-5:checked ~ .controls label:nth-child(2),
#slide2-5:checked ~ .controls label:nth-child(3),
#slide3-5:checked ~ .controls label:nth-child(4),
#slide4-5:checked ~ .controls label:nth-child(1) {
  background: url("/assets/icons/next.svg") no-repeat;
  float: right;
  margin: 0 -45px 0 0;
  display: block;
}

#slide1-1:checked ~ .controls label:nth-last-child(1),
#slide2-1:checked ~ .controls label:nth-last-child(4),
#slide3-1:checked ~ .controls label:nth-last-child(3),
#slide4-1:checked ~ .controls label:nth-last-child(2),

#slide1-2:checked ~ .controls label:nth-last-child(1),
#slide2-2:checked ~ .controls label:nth-last-child(4),
#slide3-2:checked ~ .controls label:nth-last-child(3),
#slide4-2:checked ~ .controls label:nth-last-child(2),

#slide1-3:checked ~ .controls label:nth-last-child(1),
#slide2-3:checked ~ .controls label:nth-last-child(4),
#slide3-3:checked ~ .controls label:nth-last-child(3),
#slide4-3:checked ~ .controls label:nth-last-child(2),

#slide1-4:checked ~ .controls label:nth-last-child(1),
#slide2-4:checked ~ .controls label:nth-last-child(4),
#slide3-4:checked ~ .controls label:nth-last-child(3),
#slide4-4:checked ~ .controls label:nth-last-child(2),

#slide1-5:checked ~ .controls label:nth-last-child(1),
#slide2-5:checked ~ .controls label:nth-last-child(4),
#slide3-5:checked ~ .controls label:nth-last-child(3),
#slide4-5:checked ~ .controls label:nth-last-child(2) {
  background: url("/assets/icons/back.svg") no-repeat;
  float: left;
  margin: 0 0 0 -45px;
  display: block;
}

.bullets {
  margin: 70px 0 0 0;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1-1:checked ~ .bullets label:nth-child(1),
#slide2-1:checked ~ .bullets label:nth-child(2),
#slide3-1:checked ~ .bullets label:nth-child(3),
#slide4-1:checked ~ .bullets label:nth-child(4),

#slide1-2:checked ~ .bullets label:nth-child(1),
#slide2-2:checked ~ .bullets label:nth-child(2),
#slide3-2:checked ~ .bullets label:nth-child(3),
#slide4-2:checked ~ .bullets label:nth-child(4),

#slide1-3:checked ~ .bullets label:nth-child(1),
#slide2-3:checked ~ .bullets label:nth-child(2),
#slide3-3:checked ~ .bullets label:nth-child(3),
#slide4-3:checked ~ .bullets label:nth-child(4),

#slide1-4:checked ~ .bullets label:nth-child(1),
#slide2-4:checked ~ .bullets label:nth-child(2),
#slide3-4:checked ~ .bullets label:nth-child(3),
#slide4-4:checked ~ .bullets label:nth-child(4),

#slide1-5:checked ~ .bullets label:nth-child(1),
#slide2-5:checked ~ .bullets label:nth-child(2),
#slide3-5:checked ~ .bullets label:nth-child(3),
#slide4-5:checked ~ .bullets label:nth-child(4) {
  background: #444;
}

/* Tela de orçamento */

h1 {
  text-align: center;
  margin: 40px 0 40px 0;
  font-weight: bolder;
  font-size: 3rem;
}

#budget-info {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
}

@media screen and (max-width: 1260px) {
  #budget-info {
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
  }
}

.wpp-container {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  z-index: 20;
  background-color: rgba(250, 250, 250, .6);
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px black;
  animation-name: bounce;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

input[id=close], input[id=closeCard] {
  display: none;
}

.wpp-container img.cancel {
  width: 15px;
  float: right;
  margin-top: -5px;
  margin-right: -5px;
  cursor: pointer;
}
input[id=close]:checked ~ .wpp-container,
input[id=closeCard]:checked ~ .card-top {
  animation-name: close-wpp;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.wpp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wpp img.whatsimg {
  width: 60px;
  cursor: pointer;
}

@keyframes close-wpp {
  35% {
    margin-right: 40px;
  }
  100% {
    margin-right: -500px;
  }
  100% {
    display: none;
  }
}

@keyframes bounce {
  2% {
    transform: rotate(4deg);
  }
  4% {
    transform: rotate(-4deg);
  }
  6% {
    transform: rotate(0deg);
  }
}
.wpp > img {
  width: 80px;
}
@media screen and (max-width: 1150px) {
  .wpp img.whatsimg {
    width: 70px;
  }
} 
@media screen and (max-width: 1000px) {
  .wpp img.whatsimg {
    width: 60px;
  }
}
@media screen and (max-width: 800px) {
  .wpp img.whatsimg {
    width: 50px;
  }
  .wpp-container {
    max-width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .wpp img.whatsimg {
    width: 40px;
  }
  .wpp-container {
    padding: 9px;
    font-size: 0.8rem;
  }
}

/* Notify */

.card-top {
  max-width: 350px;
  position: fixed;
  display: inline-block;
  padding: 12px;
  border-radius: 4px;
  top: -300px;
  right: 10px;
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: 30;
}

input[name=close2] {
  display: none;
}
input[name=close2]:checked ~ .card-top {
  animation-name: close-card;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes close-card {
  0% {
    top: 10px;
  }
  35% {
    top: 50px;
  }
  100% {
    top: -300px;
  }
  100% {
    display: none;
  }
}

@keyframes appear {
  0% {
    display: inline-block;
    right: 0;
  }
  35% {
    top: 50px;
  }
  80% {
    top: 5px;
  }
  100% {
    top: 10px;
  }
}

.card-top-success {
  background-color: rgb(14, 180, 14);
  color: white;
}
.card-top-error {
  background-color: red;
  color: white;
}
.card-top-blue {
  background-color: blue;
  color: white;
}
.card-top-loading {
  background-color: rgb(10, 10, 10);
  color: white;
  width: 155px;
}
.card-top-dnone {
  display: none;
}

label[for=close2] {
  display: inline-block;
  cursor: pointer;
}
#close-btn {
  width: 12px;
  height: 12px;
}
.close {
  position: absolute;
  right: 12px;
  top: 8px;
}

/* iFrame maps */

.maps {
  max-width: 95vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: .5px solid rgb(121, 121, 121);
}
